* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0 20px;
}

.query-text {
  display: flex;
  padding: 0px 10px;
  height: 100%;
  color: #006600;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.query-text__query {
  display: inline-block;
  margin: auto 5px;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  flex-grow: 1;
  line-height: initial;
  background-color: #eee;
}
.query-text__slash {
  display: inline-block;
  line-height: 24px;
  font-size: 16px;
}
.query-text__flags {
  display: inline-block;
  margin: auto 5px;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  width: 2.5em;
  line-height: initial;
  background-color: #eee;
}
.query-text__flags--invalid {
  background-color: #fcc;
}
.query-text__query::placeholder, .query-text__flags::placeholder {
  color: #ccc;
}

.button {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  cursor: pointer;
  width: 16px;
  height: 16px;
  padding: 4px;
}
.button:active:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.button__image {
  width: 16px;
  height: 16px;
}

.search-form {
  display: flex;
  align-items: center;
  width: 400px;
  height: 60px;
}
.search-form__text {
  flex: auto;
  height: 100%;
  overflow: hidden;
}
.search-form__text .query-text {
  width: 100%;
}
.search-form__search-button, .search-form__backward-button, .search-form__forward-button {
  flex: none;
}
.search-form__count {
  flex: none;
  min-width: 50px;
  padding: 0 10px;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
}
